
<app-header></app-header>
<div class="main-page-content">
  <app-home></app-home>
  <div class="grid">
    <div class="col-12 sm:col-12 lg:col-6 mb-2 mt-4">
      <app-orders></app-orders>
    </div>
    <div class="col-12 sm:col-12 lg:col-6 mb-2 mt-4">
       <app-sales></app-sales>
    </div>
    <div class="col-12 sm:col-12 lg:col-7 mb-2">
      <p>component 3</p>
    </div>
    <div class="col-12 sm:col-12 lg:col-5 mb-2">
       <p>component 4</p>
    </div>
</div>
  <router-outlet></router-outlet>
</div>