<div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <!-- Order Card Start -->
    <p-card class="dashboard-card">
      <div class="flex flex-row flex-wrap card-heading">
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-cyan-500"
          >
            <i class="pi pi-shopping-cart" style="font-size: 1rem"></i>
          </h3>
        </div>
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-cyan-500 heading"
          >
            Orders
          </h3>
        </div>
      </div>
      <p class="m-0 mb-2 font-semibold">640 Pending</p>
    </p-card>
  </div>
  <!-- Order Card End -->

  <!-- Revenue Card Start -->
  <div class="col-12 md:col-6 lg:col-3">
    <p-card class="dashboard-card">
      <div class="flex flex-row flex-wrap card-heading">
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-indigo-500"
          >
            <i class="pi pi-money-bill" style="font-size: 1rem"></i>
          </h3>
        </div>
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-indigo-500 heading"
          >
            Revenue
          </h3>
        </div>
      </div>
      <p class="m-0 mb-2 font-semibold">$9,640 Income</p>
    </p-card>
  </div>
  <!-- Revenue Card End -->

  <!-- Customer Card Start -->
  <div class="col-12 md:col-6 lg:col-3">
    <p-card class="dashboard-card">
      <div class="flex flex-row flex-wrap card-heading">
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-teal-600"
          >
            <i class="pi pi-users" style="font-size: 1rem"></i>
          </h3>
        </div>
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-teal-600 heading"
          >
            Customers
          </h3>
        </div>
      </div>
      <p class="m-0 mb-2">Customers</p>
    </p-card>
  </div>
   <!-- Customer Card End -->

   <!-- Comment Card Start -->
  <div class="col-12 md:col-6 lg:col-3">
    <p-card class="dashboard-card">
      <div class="flex flex-row flex-wrap card-heading">
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-yellow-400"
          >
            <i class="pi pi-users" style="font-size: 1rem"></i>
          </h3>
        </div>
        <div class="flex align-items-center">
          <h3
            style="cursor: default"
            class="block w-full mb-1 mt-0 h-1rem text-yellow-400 heading"
          >
            Comments
          </h3>
        </div>
      </div>
      <p class="m-0 mb-2">Comments</p>
    </p-card>
  </div>
     <!-- Comment Card End -->
</div>
